body {
}

.glitch {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: black;
  font-size: 40px;
  position: relative;
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

@keyframes noise-anim {
  0% {
    clip: rect(28px, 9999px, 17px, 0);
  }
  5% {
    clip: rect(90px, 9999px, 71px, 0);
  }
  10% {
    clip: rect(76px, 9999px, 26px, 0);
  }
  15% {
    clip: rect(28px, 9999px, 99px, 0);
  }
  20% {
    clip: rect(59px, 9999px, 38px, 0);
  }
  25% {
    clip: rect(15px, 9999px, 58px, 0);
  }
  30% {
    clip: rect(7px, 9999px, 57px, 0);
  }
  35% {
    clip: rect(86px, 9999px, 12px, 0);
  }
  40% {
    clip: rect(34px, 9999px, 77px, 0);
  }
  45% {
    clip: rect(67px, 9999px, 46px, 0);
  }
  50% {
    clip: rect(55px, 9999px, 98px, 0);
  }
  55% {
    clip: rect(63px, 9999px, 43px, 0);
  }
  60% {
    clip: rect(40px, 9999px, 53px, 0);
  }
  65% {
    clip: rect(80px, 9999px, 4px, 0);
  }
  70% {
    clip: rect(88px, 9999px, 41px, 0);
  }
  75% {
    clip: rect(1px, 9999px, 17px, 0);
  }
  80% {
    clip: rect(74px, 9999px, 85px, 0);
  }
  85% {
    clip: rect(31px, 9999px, 93px, 0);
  }
  90% {
    clip: rect(94px, 9999px, 99px, 0);
  }
  95% {
    clip: rect(53px, 9999px, 72px, 0);
  }
  100% {
    clip: rect(55px, 9999px, 46px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: rgb(81, 1, 134);
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
  margin: auto;
  margin-left: 23%;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(60px, 9999px, 64px, 0);
  }
  5% {
    clip: rect(96px, 9999px, 36px, 0);
  }
  10% {
    clip: rect(46px, 9999px, 84px, 0);
  }
  15% {
    clip: rect(34px, 9999px, 47px, 0);
  }
  20% {
    clip: rect(86px, 9999px, 15px, 0);
  }
  25% {
    clip: rect(4px, 9999px, 19px, 0);
  }
  30% {
    clip: rect(6px, 9999px, 23px, 0);
  }
  35% {
    clip: rect(33px, 9999px, 37px, 0);
  }
  40% {
    clip: rect(70px, 9999px, 4px, 0);
  }
  45% {
    clip: rect(15px, 9999px, 33px, 0);
  }
  50% {
    clip: rect(22px, 9999px, 85px, 0);
  }
  55% {
    clip: rect(89px, 9999px, 28px, 0);
  }
  60% {
    clip: rect(84px, 9999px, 40px, 0);
  }
  65% {
    clip: rect(65px, 9999px, 53px, 0);
  }
  70% {
    clip: rect(5px, 9999px, 62px, 0);
  }
  75% {
    clip: rect(40px, 9999px, 67px, 0);
  }
  80% {
    clip: rect(57px, 9999px, 94px, 0);
  }
  85% {
    clip: rect(49px, 9999px, 93px, 0);
  }
  90% {
    clip: rect(22px, 9999px, 50px, 0);
  }
  95% {
    clip: rect(90px, 9999px, 45px, 0);
  }
  100% {
    clip: rect(86px, 9999px, 56px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: #15fa00;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  margin-left: 23%;
  animation: noise-anim-2 3s infinite linear alternate-reverse;
  
}

.header{
  border-style: solid;
  border-width: thin;
  border-color: #15fa00;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.menu{
/* float: left; */
  display: inline;
}