body {
}

.glitch {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.678);
  font-size: 20px;
  position: relative;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

@keyframes noise-anim {
  0% {
    clip: rect(28px, 9999px, 17px, 0);
  }
  5% {
    clip: rect(90px, 9999px, 71px, 0);
  }
  10% {
    clip: rect(76px, 9999px, 26px, 0);
  }
  15% {
    clip: rect(28px, 9999px, 99px, 0);
  }
  20% {
    clip: rect(59px, 9999px, 38px, 0);
  }
  25% {
    clip: rect(15px, 9999px, 58px, 0);
  }
  30% {
    clip: rect(7px, 9999px, 57px, 0);
  }
  35% {
    clip: rect(86px, 9999px, 12px, 0);
  }
  40% {
    clip: rect(34px, 9999px, 77px, 0);
  }
  45% {
    clip: rect(67px, 9999px, 46px, 0);
  }
  50% {
    clip: rect(55px, 9999px, 98px, 0);
  }
  55% {
    clip: rect(63px, 9999px, 43px, 0);
  }
  60% {
    clip: rect(40px, 9999px, 53px, 0);
  }
  65% {
    clip: rect(80px, 9999px, 4px, 0);
  }
  70% {
    clip: rect(88px, 9999px, 41px, 0);
  }
  75% {
    clip: rect(1px, 9999px, 17px, 0);
  }
  80% {
    clip: rect(74px, 9999px, 85px, 0);
  }
  85% {
    clip: rect(31px, 9999px, 93px, 0);
  }
  90% {
    clip: rect(94px, 9999px, 99px, 0);
  }
  95% {
    clip: rect(53px, 9999px, 72px, 0);
  }
  100% {
    clip: rect(55px, 9999px, 46px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 1px;
  text-shadow: -1px 0 red;
  top: 0;
  color: rgb(81, 1, 134);
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
  margin: auto;
  margin-left: 23%;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(60px, 9999px, 64px, 0);
  }
  5% {
    clip: rect(96px, 9999px, 36px, 0);
  }
  10% {
    clip: rect(46px, 9999px, 84px, 0);
  }
  15% {
    clip: rect(34px, 9999px, 47px, 0);
  }
  20% {
    clip: rect(86px, 9999px, 15px, 0);
  }
  25% {
    clip: rect(4px, 9999px, 19px, 0);
  }
  30% {
    clip: rect(6px, 9999px, 23px, 0);
  }
  35% {
    clip: rect(33px, 9999px, 37px, 0);
  }
  40% {
    clip: rect(70px, 9999px, 4px, 0);
  }
  45% {
    clip: rect(15px, 9999px, 33px, 0);
  }
  50% {
    clip: rect(22px, 9999px, 85px, 0);
  }
  55% {
    clip: rect(89px, 9999px, 28px, 0);
  }
  60% {
    clip: rect(84px, 9999px, 40px, 0);
  }
  65% {
    clip: rect(65px, 9999px, 53px, 0);
  }
  70% {
    clip: rect(5px, 9999px, 62px, 0);
  }
  75% {
    clip: rect(40px, 9999px, 67px, 0);
  }
  80% {
    clip: rect(57px, 9999px, 94px, 0);
  }
  85% {
    clip: rect(49px, 9999px, 93px, 0);
  }
  90% {
    clip: rect(22px, 9999px, 50px, 0);
  }
  95% {
    clip: rect(90px, 9999px, 45px, 0);
  }
  100% {
    clip: rect(86px, 9999px, 56px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: 0px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: #15fa00;
  background: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  margin-left: 23%;
  animation: noise-anim-2 3s infinite linear alternate-reverse;
  
}

.gradient-background{
    background: linear-gradient(141deg, #8d00ff, #2fff00);
    background-size: 500% 500%;
    height: 100%;
    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
    
}

@-webkit-keyframes AnimationName {
  0%{background-position:36% 0%}
  50%{background-position:65% 100%}
  100%{background-position:36% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:36% 0%}
  50%{background-position:65% 100%}
  100%{background-position:36% 0%}
}
@keyframes AnimationName { 
  0%{background-position:36% 0%}
  50%{background-position:65% 100%}
  100%{background-position:36% 0%}
}

a{
  text-decoration: none;
  
}
a:visited {
  color: #ffffff;
}

.intro-h3{
  text-align: center;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  opacity: 0.8;
}

.intro-h1 {
  text-align: center;
  line-height: 200px;
  margin: auto;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 100%;
  color: #ffffff;
  font-size: 8em;
  font-family: Arial, Helvetica, sans-serif;
  animation: glitch1 2.5s infinite;
}

.intro-h1:hover{
  color: #ffffff !important;
  opacity: 1 !important;
}
.intro-h1:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}

.intro-h1:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}
/*Keyframes*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

.homepage-content{
  width: 50%;
  margin: 0 auto !important;
}

.content-background{
    background: linear-gradient(141deg, #8d00ff, #2fff00);
    background-size: 500% 500%;
    height: 100%;
    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:36% 0%}
  50%{background-position:65% 100%}
  100%{background-position:36% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:36% 0%}
  50%{background-position:65% 100%}
  100%{background-position:36% 0%}
}
@keyframes AnimationName { 
  0%{background-position:36% 0%}
  50%{background-position:65% 100%}
  100%{background-position:36% 0%}
}

/* .content-background{
  background-image: url('imgs/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
} */

p{
  font-family: Arial, Helvetica, sans-serif;
}

.welcome-image{
}

.welcome-text{
  margin-left: auto; 
  margin-right: auto; 
}
.welcome{
  opacity: 0.5;
  font-size: 3em !important;
}

.caption{
  color:red; 
  text-align: center;
  font-size: 0.8em !important;
}

#welcome-message{
  font-size: 1.5em !important;
}

.highlighted-purple{
  color: #8d00ff;
}

.highlighted-green{
  color: #15fa00;
}